<div class="Titulo">
  <h1>Pagina de Cards</h1>
</div>
<div class="card-container">
  <p-card header="Polar" subheader="Oso polar" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://i.pinimg.com/736x/23/17/54/23175442f10608e55a487a75f26495a7.jpg" />
    </ng-template>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel arcu neque. Vivamus ut cursus eros. Sed varius neque ac enim pretium, eget fermentum enim cursus. Nulla tincidunt lorem vitae elit vehicula, sit amet lobortis sapien congue. Integer eget erat quis nisl vehicula interdum. Nullam fringilla orci libero, id bibendum arcu scelerisque in. Cras cursus mauris quis auctor suscipit.
  </p-card>

  <p-card header="Happy" subheader="Fairy Tail" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoRK-LZp3UgUQ8oialiW1FTfGzKnDMJ-EVZg&s" />
    </ng-template>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel arcu neque. Vivamus ut cursus eros. Sed varius neque ac enim pretium, eget fermentum enim cursus. Nulla tincidunt lorem vitae elit vehicula, sit amet lobortis sapien congue. Integer eget erat quis nisl vehicula interdum. Nullam fringilla orci libero, id bibendum arcu scelerisque in. Cras cursus mauris quis auctor suscipit.
  </p-card>

  <p-card header="Chopper" subheader="One piece" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://a.storyblok.com/f/178900/960x540/10220e8c39/chopper-25th-anniversary-one-piece.jpg/m/filters:quality(95)format(webp)" />
    </ng-template>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel arcu neque. Vivamus ut cursus eros. Sed varius neque ac enim pretium, eget fermentum enim cursus. Nulla tincidunt lorem vitae elit vehicula, sit amet lobortis sapien congue. Integer eget erat quis nisl vehicula interdum. Nullam fringilla orci libero, id bibendum arcu scelerisque in. Cras cursus mauris quis auctor suscipit.
  </p-card>

  <p-card header="Kirara" subheader="Inuyasha" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://www.cultture.com/pics/2022/03/las-10-mascotas-de-anime-mas-fuertes-clasificadas-6.webp" />
    </ng-template>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel arcu neque. Vivamus ut cursus eros. Sed varius neque ac enim pretium, eget fermentum enim cursus. Nulla tincidunt lorem vitae elit vehicula, sit amet lobortis sapien congue. Integer eget erat quis nisl vehicula interdum. Nullam fringilla orci libero, id bibendum arcu scelerisque in. Cras cursus mauris quis auctor suscipit.
  </p-card>

</div>
